.overview{
  display: flex;
  justify-content: center;
  align-items: center;
}
.table{
  width: 250px;
  font-size: 16px;
  font-weight: 600;
}
tr{
  padding: 8px 0 8px 0;
}
td{
  width: 20px;
  height: 34px;
}